{# twig #}

{% extends "lobby-base.html.twig" %}

{% block angularController %}
    <script src="{{ asset('assets/js/controllers/minuteController.js') }}"></script>
{% endblock %}

{% block title %}
    Meeting minute
{% endblock %}

{% block content %}
    <span hidden="" 
          id="minute-json-path" 
          data-href="{{ path('minute-json',{'meetingId':minute.meeting.id }) }}" ></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Meeting minute</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title" >
                            <a role="button" 
                               data-toggle="collapse" 
                               href="#collapsePresence" 
                               aria-controls="collapseParticipants">
                                // ctrl.presenceList.length // persons
                            </a>
                        </h4>
                    </div>
                    <div id="collapsePresence" class="collapse panel-collapse in" >
                        <ul class="list-group hidden-badge-list" >
                            <li class="list-group-item"
                                ng-attr-title="// presence.wasPresent ? 'Present':'Absent' //"
                                ng-class="presence.wasPresent ? 'list-group-item-success' : 'list-group-item-warning'"
                                ng-repeat="presence in ctrl.presenceList" >
                                <strong> // presence.user.name // </strong>  :
                                // presence.string //
                                {% if canEdit %}
                                    <span class="pull-right hidden-badge-item">
                                        <a ng-click='ctrl.editPresence($event,presence.id)'
                                           class="btn btn-primary btn-xs"
                                           href='{{ path('edit-presence',{'presenceId':'__id__'}) }}'>
                                            <i class="glyphicon glyphicon-pencil" ></i>
                                            Update
                                        </a>
                                    </span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title" >
                            <a role="button" 
                               data-toggle="collapse" 
                               href="#collapseItems" 
                               aria-controls="collapseParticipants">
                                <ng-pluralize count='ctrl.items.length'
                                              when="{'0':'No items',
                                              '1':'One item',
                                              'other':'{} items'}">
                                </ng-pluralize>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseItems"
                         class="panel-collapse collapse in" 
                         role="tabpanel">
                        <ul class="list-group hidden-badge-list">
                            <li class="list-group-item"
                                ng-repeat="item in ctrl.items">
                                <a ng-click="ctrl.seeItem($event,item.id)"
                                   href="{{ path('see-minute-item',{'itemId':'__id__'}) }}">
                                    // item.agendaItem.title //
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong>
                    <ng-pluralize count="ctrl.comments.length"
                                  when="{'0': 'Nobody commented',
                                  '1': 'There is one comment',
                                  'other': 'There are {} comments'}">

                    </ng-pluralize>
                </strong>
            </div>
            <div class="col-xs-12">
                {% if canComment %}
                    <form action="{{ path('post-comment',{'meetingId':minute.meeting.id}) }}"
                          ng-submit="ctrl.postComment($event)" >
                        <input name="comment"
                               ng-model="ctrl.currentComment"
                               type="text" 
                               class="form-control" 
                               placeholder="comment..." />
                        <button class="btn btn-default"
                                ng-disabled="!ctrl.currentComment" >
                            Comment
                        </button>
                    </form>
                {% else %}
                    You cannot comment since you were not present
                {% endif %}
            </div>
            <div class="col-xs-12">
                <div class="col-xs-11 comment"  ng-repeat="comment in ctrl.comments" >
                    <div class="col-xs-12">
                        <span class="info" >
                            By <strong> // comment.commenter.name // </strong>
                            // comment.ago //
                        </span>
                    </div>
                    <div class="col-xs-12">
                        // comment.comment //
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}