<!DOCTYPE html>
{% set bower = 'assets/vendor/' %}
<html ng-app="app" >
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset(bower ~ 'bootstrap/dist/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset(bower ~ 'font-awesome/css/font-awesome.min.css') }}"


        <!-- Before body closing tag -->
        <script src="{{ asset(bower ~ 'jquery/dist/jquery.js') }}"></script>
        <script src="{{ asset(bower ~ 'bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <title>
            {% block title %}
                Welcome
            {% endblock %}
        </title>

        <link rel = "icon" type = "image/x-icon" href = "{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body ng-controller="controller as ctrl" >
        {% block body %}
        {% endblock %}
    </body>
</html>
