
{% extends 'base.html.twig' %}

{% block title %}
    Lobby
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/lobby.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/toolbar.css') }}" rel="stylesheet" />
    <link rel="stylesheet" 
          href="{{ asset(bower~'angular-ui-notification/dist/angular-ui-notification.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset(bower~'angular/angular.min.js') }}"></script>
    <script src="{{ asset('assets/js/baseApp.js') }}"></script>
    <script src="{{ asset(bower~'angular-ui-notification/dist/angular-ui-notification.min.js') }}"></script>
    {% block angularServices %}
        <script src="{{ asset('assets/js/services/postService.js') }}" ></script>
        <script src="{{ asset('assets/js/services/modalFormService.js') }}"></script>
    {% endblock %}
    {% block angularController %}
        <script src="{{ asset('assets/js/controllers/defaultController.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% include 'toolbar.html.twig' %}
        {% include 'sidebar.html.twig' %}
    {% endif %}

    <div id="lobby-content" >
        {% block content %} {% endblock %}
    </div>
    {% include 'modal.html.twig' %}
    <footer class="container-fluid" >
        {% block footer %}
            <div class="row">
                <div class="col-xs-12">
                    Copyright Azarias Boutin &copy; TeaMeeting
                </div>
            </div>
        {% endblock %}
    </footer>

{% endblock %}