
{% extends "lobby-base.html.twig" %}

{% block angularController %}
    <script src="{{ asset('assets/js/controllers/allProjects.js') }}" ></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Projects</h2>
        <ul id="project_list" 
            class="list-group hidden-badge-list" >
            <li ng-repeat="project in ctrl.projects"
                class="list-group-item clearfix" >
                <a ng-click="ctrl.seeProject($event,project.id)"
                   href="{{ path('seeproject',{'projId': '__name__'}) }}">
                    // project.name //
                </a>
                <span class="pull-right" >
                    <a  ng-if="project.locked"
                        ng-click="ctrl.lockProject($event,project.id,false)"
                        class="btn btn-success btn-xs hidden-badge-item"  
                        href="{{ path('unlockproject',{'proj' : '__name__'}) }}">
                        <i class="fa fa-unlock" ></i>
                        Unlock
                    </a>
                    <a ng-if="!project.locked"
                       ng-click="ctrl.lockProject($event,project.id,true)"
                       class="btn btn-warning btn-xs hidden-badge-item" 
                       href="{{ path('lockproject',{'proj' : '__name__' }) }}">
                        <i class="fa fa-lock" ></i>
                        Lock
                    </a>
                    <a ng-click="ctrl.deleteProject($event,project.id)"
                       class="btn btn-danger btn-xs hidden-badge-item"
                       href="{{ path('deleteproject',{'projId' : '__name__'}) }}">
                        <i class="glyphicon glyphicon-trash" ></i>
                        Delete
                    </a>
                </span>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <a  id="create-project"
                class="btn btn-default"
                ng-click="ctrl.projectModal($event)"
                href="{{ path('newproject') }}">
                <i class="glyphicon glyphicon-plus"></i>
                Create a project
            </a>
        {% endif %}
        <span data-href="{{ path('all-projects-json') }}" 
              id="all-projects-path"
              hidden="">
        </span>
    </div>
    {% include 'modal.html.twig' %}
{% endblock %}