
{% extends "lobby-base.html.twig" %}


{% block content %}
    <div class="container-fluid">
        <h2>Projects</h2>
        <ul id="project_list" class="list-group hidden-badge-list" >
            {% for proj in projects %}
                <li class="list-group-item clearfix" >
                    <a href="{{ path('seeproject',{'projId':proj.id}) }}">
                        {{ proj.projectName }}
                    </a>
                    <span class="pull-right" >
                        {% if proj.locked %}
                            <a class="btn btn-success btn-xs hidden-badge-item"  
                               href="{{ path('unlockproject',{'proj' : proj.id}) }}">
                                <i class="fa fa-unlock" ></i>
                                Unlock
                            </a>
                        {% else %}
                            <a class="btn btn-warning btn-xs hidden-badge-item" 
                               href="{{ path('lockproject',{'proj' : proj.id}) }}">
                                <i class="fa fa-lock" ></i>
                                Lock
                            </a>
                        {% endif %}
                        <a class="btn btn-danger btn-xs hidden-badge-item"
                           href="{{ path('deleteproject',{'projId' : proj.id}) }}">
                            <i class="glyphicon glyphicon-trash" ></i>
                            Delete
                        </a>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <span id="seeProjectPath" 
              data-href="{{ path('seeproject',{'projId':'__number__'}) }}" 
              hidden="" ></span>
        <span id="lockProjectPath"
              hidden=""
              data-href="{{ path('lockproject',{'proj' : '__number__'}) }}" >
        </span>
        <span id="deleteProjectPath" 
              hidden=""
              data-href="{{ path('deleteproject',{'projId' : '__number__'}) }}">

        </span>
    </div>

{% endblock %}