
{% extends 'base.html.twig' %}

{% set formClass = {'attr': {'class': 'form-control' }} %}

{% block title %}
    Create project
{% endblock %}

{% block body %}
    {% include 'toolbar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {{ form_start(form) }}
            <div class="col-xs-12">
                {{ form_row(form.projectName,formClass) }}
            </div>
            <div class="col-xs-6">
                {{ form_row(form.leader,formClass) }}
            </div>
            <div class="col-xs-6">
                {{ form_row(form.secretary,formClass) }}
            </div>
            <div class="col-xs-12">
                {{ form_label(form.participants) }}
                <div class="form-group">
                    {% for part in form.participants %}
                        <div class="checkbox">
                            <label for="{{ part.vars.id }}">
                                {{ form_widget(part) }}
                                {{ part.vars.label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
                <div class="col-xs-12" >
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script src="{{ asset('js/createProject.js') }}"></script>
{% endblock %}