
{% extends 'base.html.twig' %}

{% block title %}
    Create project
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.projectName) }}
    {{ form_row(form.leader) }}
    {{ form_row(form.secretary) }}
    {{ form_row(form.participants) }}

    <div>
        <button type="submit">Create</button>
    </div>
    {{ form_end(form) }}
    <script src="{{ asset('js/createProject.js') }}"></script>
{% endblock %}