

{% set formClass = {'attr': {'class': 'form-control' }} %}

<div class="modal-header">
    <button type="button" class="close" 
            data-dismiss="modal" 
            aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Create a project
    </h4>
</div>

{{ form_start(form,{'attr':{'id':'create-project-form'} }) }}
<div class="modal-body">
    <div class="row">
        {{ form_start(form) }}
        <div class="col-xs-12">
            {{ form_label(form.projectName) }}
            {{ form_widget(form.projectName,formClass) }}
        </div>
        <div class="col-xs-6">
            {{ form_row(form.leader,formClass) }}
        </div>
        <div class="col-xs-6">
            {{ form_row(form.secretary,formClass) }}
        </div>
        <div class="col-xs-12">
            {{ form_label(form.participants) }}
            <fieldset class="form-group">
                {% for part in form.participants %}
                    <div class="checkbox-inline">
                        <label for="{{ part.vars.id }}">
                            {{ form_widget(part) }}
                            {{ part.vars.label }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="submit-create-project" class="btn btn-default" type="submit">Create</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
{{ form_end(form) }}
{#<script src="{{ asset('js/createProject.js') }}"></script>#}