
{% extends 'lobby-base.html.twig' %}

{% block title %}
    {{ project.projectName }}
{% endblock %}


{% block angularController %}
    <script src="{{ asset('assets/js/controllers/projectController.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/project-style.css') }}" rel="stylesheet" />
{% endblock %}

{% set formClass = {'attr': {'class':'form-control','disabled':'' } } %}

{% block content %}
    <span id="get-project-path"
          hidden="" 
          data-project-id="{{ project.id }}"
          data-href="{{ path('get-project-json',{'projId':project.id}) }}"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-left">
                <h1>Project "{{ project.projectName }}" </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left" >
                <h3>
                    Leader : {{ project.leader.username }} 
                </h3>
                <h3>
                    Secretary : {{ project.secretary.username }}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="panel-group" id="participantsAccordion" role="tablist">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="meetingsPanel">
                            <h4 class="panel-title">
                                <a role="button" 
                                   data-toggle="collapse" 
                                   data-parent="#participantsAccordion" 
                                   href="#collapseParticipants" 
                                   aria-controls="collapseParticipants">
                                    {{ project.participants.count() }} Participants
                                </a>
                            </h4>
                        </div>
                        <div id="collapseParticipants" 
                             class="panel-collapse collapse" 
                             role="tabpanel" 
                             aria-labelledby="meetingsPanel">
                            <ul class="list-group" id="list-meetings" >
                                <li class="list-group-item" 
                                    ng-repeat="part in ctrl.participants" >
                                    <a href="#">
                                        // part.name //
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" 
                                   data-toggle="collapse" 
                                   data-parent="#accordion" 
                                   href="#collapseOne" 
                                   aria-expanded="true" 
                                   aria-controls="collapseOne">
                                    <ng-pluralize count="ctrl.roles.length"
                                                  when="{'0':'No roles',
                                                         '1' : 'One role',
                                                         'other':'{} roles'}">
                                        
                                    </ng-pluralize>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" 
                             class="panel-collapse collapse in" 
                             role="tabpanel" 
                             aria-labelledby="headingOne">
                            <ul class="list-group" id='list-roles' >
                                <li ng-repeat="ro in ctrl.roles" class="list-group-item" >
                                    <strong> // ro.student.name // </strong> :
                                    // ro.name //
                                    {% if canEdit %}
                                        <span class="pull-right">
                                            <a href="{{ path('update-role',{'roleId':'__id__'}) }}"
                                               ng-click="ctrl.editItem($event,ro.id,'role')"
                                               class="btn btn-primary btn-xs">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                Edit
                                            </a>
                                            <a href="{{ path('remove-role',{ 'roleId' : '__id__' }) }}"
                                               ng-click="ctrl.deleteRole($event,ro.id)"
                                               class="btn btn-warning btn-xs btn-remove">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                Delete
                                            </a>
                                        </span>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if canEdit %}
                    <a href="{{ path('add-role',{'projId':project.id}) }}"
                       data-project="{{ project.id }}"
                       id="button-add-role"
                       ng-click="ctrl.addRole($event)"
                       class="btn btn-default" >
                        <i class="glyphicon glyphicon-plus"></i>
                        Add role
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="panel-group" id="meetingAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="meetingsPanel">
                            <h4 class="panel-title">
                                <a role="button" 
                                   data-toggle="collapse" 
                                   data-parent="#meetingAccordion" 
                                   href="#collapseMeeting" 
                                   aria-expanded="true" 
                                   aria-controls="collapseMeeting">
                                    <ng-pluralize count='ctrl.meetings.length'
                                                  when="{'0':'No meeting',
                                                         '1':'One meeting',
                                                         'other':'{} meetings'}">
                                        
                                    </ng-pluralize>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseMeeting" 
                             class="panel-collapse collapse in" 
                             role="tabpanel" 
                             aria-labelledby="meetingsPanel">
                            <ul class="list-group" id="list-meetings" >
                                <li ng-repeat="meet in ctrl.meetings"
                                    ng-class="{'disabled' : meet.outdated}"
                                    class="list-group-item" >
                                    <a ng-click="ctrl.seeMeeting($event,meet.id)"
                                       href="{{ path('see-meeting', { 'meetingId' : '__id__' }) }}">
                                        Meeting at  // meet.date | date : 'dd/MM/yyyy HH:mm' //
                                        in room // meet.room //
                                    </a>
                                    {% if canEdit %}
                                        <span ng-if="!meet.outdated" class="pull-right">
                                            <a href="{{ path('update-meeting',{'meetingId':'__id__'}) }}"
                                               ng-click="ctrl.editItem($event,meet.id,'meeting')"
                                               class="btn btn-primary btn-xs">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                Edit
                                            </a>
                                        </span>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if canEdit %}
                    <a href="{{ path('add-meeting',{'projId':project.id}) }}"
                       ng-click="ctrl.addMeeting($event)"
                       data-project="{{ project.id }}"
                       id="button-add-meeting"
                       class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add meeting
                    </a>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-xs-12">
                    {% if project.locked %}
                        <a class="btn btn-success" 
                           href="{{ path('unlockproject',{'proj' : project.id}) }}">
                            <i class="fa fa-unlock" ></i>
                            Unlock
                        </a>
                    {% else %}
                        <a class="btn btn-warning"
                           href="{{ path('lockproject',{'proj' : project.id}) }}">
                            <i class="fa fa-lock" ></i>
                            Lock
                        </a>
                    {% endif %}
                    <a class="btn btn-danger"
                       href="{{ path('deleteproject',{'projId': project.id}) }}">
                        <i class="glyphicon glyphicon-trash" ></i>
                        Delete
                    </a>
                </div>
            </div>
        {% endif %}

        {% if canEdit %}
            <div class="alert alert-success alert-dismissible" role="alert" id='message-alert'>
                <button type="button" class="close" id="close-alert"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                The <span id="removed-object" > </span> was removed.
                <a href="#" class="alert-link" id="cancel-action" > Cancel</a>
            </div>
            <span id="path-remove-role" 
                  data-href="{{ path('remove-role',{ 'roleId' : '__name__' }) }}" >
            </span>
            <span id="path-remove-meeting"
                  data-href="{{ path('remove-meeting',{ 'meetingId' : '__name__' }) }}" >
            </span>
        {% endif %}
    </div>
{% endblock %}

