
{% extends 'lobby-base.html.twig' %}

{% block title %}
    {{ project.projectName }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/editProject.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/project-style.css') }}" rel="stylesheet" />
{% endblock %}

{% set formClass = {'attr': {'class':'form-control','disabled':'' } } %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-left">
                <h1>Project "{{ project.projectName }}" </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left" >
                <h3>
                    Leader : {{ project.leader.username }} 
                </h3>
                <h3>
                    Secretary : {{ project.secretary.username }}
                </h3>
            </div>
        </div>
        <div class="row">
                        <div class="col-xs-12 col-sm-3">
                <div class="panel-group" id="participantsAccordion" role="tablist">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="meetingsPanel">
                            <h4 class="panel-title">
                                <a role="button" 
                                   data-toggle="collapse" 
                                   data-parent="#participantsAccordion" 
                                   href="#collapseParticipants" 
                                   aria-controls="collapseParticipants">
                                    {{ project.participants.count() }} Participants
                                </a>
                            </h4>
                        </div>
                        <div id="collapseParticipants" 
                             class="panel-collapse collapse" 
                             role="tabpanel" 
                             aria-labelledby="meetingsPanel">
                            <ul class="list-group" id="list-meetings" >
                                {% for part in project.participants %} 
                                    <li class="list-group-item" data-id="{{ part.id }}" >
                                        <a href="#">
                                            {{ part.username }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" 
                                   data-toggle="collapse" 
                                   data-parent="#accordion" 
                                   href="#collapseOne" 
                                   aria-expanded="true" 
                                   aria-controls="collapseOne">
                                    {{ project.roles.count() }} roles
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" 
                             class="panel-collapse collapse in" 
                             role="tabpanel" 
                             aria-labelledby="headingOne">
                            <ul class="list-group" id='list-roles' >
                                {% for ro in project.roles %}
                                    <li class="list-group-item" data-id="{{ ro.id }}" >
                                        <strong>{{ ro.student.username }}</strong> :
                                        {{ ro.roleName }}
                                        {% if canEdit %}
                                            <span class="pull-right">
                                                <a href="#"
                                                   class="btn btn-primary btn-xs">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                    Edit
                                                </a>
                                                <a href="{{ path('remove-role',{ 'roleId' : ro.id }) }}"
                                                   class="btn btn-warning btn-xs btn-remove">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    Delete
                                                </a>
                                            </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if canEdit %}
                    <a href="{{ path('add-role') }}"
                       data-project="{{ project.id }}"
                       id="button-add-role"
                       class="btn btn-default" >
                        <i class="glyphicon glyphicon-plus"></i>
                        Add role
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="panel-group" id="meetingAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="meetingsPanel">
                            <h4 class="panel-title">
                                <a role="button" 
                                   data-toggle="collapse" 
                                   data-parent="#meetingAccordion" 
                                   href="#collapseMeeting" 
                                   aria-expanded="true" 
                                   aria-controls="collapseMeeting">
                                    {{ project.meetings.count() }} meetings
                                </a>
                            </h4>
                        </div>
                        <div id="collapseMeeting" 
                             class="panel-collapse collapse in" 
                             role="tabpanel" 
                             aria-labelledby="meetingsPanel">
                            <ul class="list-group" id="list-meetings" >
                                {% for meet in project.meetings %} 
                                    <li class="list-group-item" data-id="{{ meet.id }}" >
                                        <a href="{{ path('see-meeting', { 'meetingId' : meet.id }) }}">
                                            Meeting at  {{ meet.date|date('d/m/Y H:i') }} in room {{ meet.room }}
                                        </a>
                                        {% if canEdit %}
                                            <span class="pull-right">
                                                <a href="#"
                                                   class="btn btn-primary btn-xs">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                    Edit
                                                </a>
                                                <a href="{{  path('remove-meeting',{ 'meetingId' : meet.id }) }}"
                                                   class="btn btn-warning btn-xs btn-remove">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    Delete
                                                </a>
                                            </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if canEdit %}
                    <a href="{{ path('add-meeting') }}"
                       data-project="{{ project.id }}"
                       id="button-add-meeting"
                       class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add meeting
                    </a>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-xs-12">
                    {% if project.locked %}
                        <a class="btn btn-success" 
                           href="{{ path('unlockproject',{'proj' : project.id}) }}">
                            <i class="fa fa-unlock" ></i>
                            Unlock
                        </a>
                    {% else %}
                        <a class="btn btn-warning"
                           href="{{ path('lockproject',{'proj' : project.id}) }}">
                            <i class="fa fa-lock" ></i>
                            Lock
                        </a>
                    {% endif %}
                    <a class="btn btn-danger"
                       href="{{ path('deleteproject',{'projId': project.id}) }}">
                        <i class="glyphicon glyphicon-trash" ></i>
                        Delete
                    </a>
                </div>
            </div>
        {% endif %}

        {% if canEdit %}
            {% include 'modal.html.twig' %}
            <div class="alert alert-success alert-dismissible" role="alert" id='message-alert'>
                <button type="button" class="close" id="close-alert"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                The <span id="removed-object" > </span> was removed.
                <a href="#" class="alert-link" id="cancel-action" > Cancel</a>
            </div>
            <span id="path-remove-role" 
                  data-href="{{ path('remove-role',{ 'roleId' : '__name__' }) }}" >
            </span>
            <span id="path-remove-meeting"
                  data-href="{{ path('remove-meeting',{ 'meetingId' : '__name__' }) }}" >
            </span>
        {% endif %}
    </div>
{% endblock %}

