
{% extends 'base.html.twig' %}

{% block title %}
    {{ project.projectName }}
{% endblock %}

{% block body %}
    <h2>Project "{{ project.projectName }}" </h2>

    <h3> Leader : {{ project.leader.username }} </h3>

    <h3> Secretary : {{ project.secretary.username }}</h3>

    {% if project.roles|length %}
        <h3>Other roles :</h3>
        <ul>
            {% for ro in project.roles %}
                <li>
                    <strong>{{ ro.student.username }}</strong> :
                    {{ ro.roleName }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No other roles</h3>
    {% endif %}

    {% if project.participants|length %} 
        <h3>Participants :</h3>
        <ul>
            {% for part in project.participants %}
                <li>
                    {{ part.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No participants (this means no leader nor secretary)</h3>
    {% endif %}

    {% if form %}
        <script>
             var rolesCount = '{{ project.roles|length }}';
        </script>
        <script src="{{ asset('js/addRoles.js') }}" ></script>
        {{ form_start(form) }}
        <ul id="roles-fields-list"
            data-prototype="{{ form_widget(form.roles.vars.prototype)|e }}">
            {% for roleField in form.roles %}
                <li>
                    {{ form_errors(roleField) }}
                    {{ form_widget(roleField) }}
                </li>
            {% endfor %}
        </ul>
        <a href="#" id="add-role">Add a role</a>

        <div>
            <button type="submit">Add roles</button>
        </div>
        {{ form_end(form) }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {% if project.locked %}
            <a href="{{ path('unlockproject',{'proj' : project.id}) }}">
                Unlock
            </a>
        {% else %}
            <a href="{{ path('lockproject',{'proj' : project.id}) }}">
                Lock
            </a>
        {% endif %}
        -
        <a href="{{ path('deleteproject',{'projId': project.id}) }}">
            Delete
        </a>
    {% endif %}
{% endblock %}

