

{% set formId = 'form-create-item' %}
{% extends "modalForm.html.twig" %}

{% block modalTitle %}
    Create an item
{% endblock %}

{% block modalBody %}
    <div class="row">
        <div class="col-xs-6 {{ s.errorClass(form.title) }}">
            {{ form_row(form.title,formClass) }}
        </div>
        <div class="col-xs-6 {{ s.errorClass(form.proposer) }}">
            {{ form_row(form.proposer,formClass) }}
        </div>
        {% if form.meeting is defined %}
            <div class="col-xs-12 {{ s.errorClass(form.meeting) }}">
                {{ form_row(form.meeting,formClass) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% if meeting is defined %}
    {% block buttonConfirm %}
        Update
    {% endblock %}
{% endif %}