{# twig #}

{% extends "lobby-base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/chartist/dist/chartist.min.js') }}" ></script>
    <script src='{{ asset('assets/js/editMeeting.js') }}'></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/lobby_admin.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendor/chartist/dist/chartist.min.css') }}" rel="stylesheet"  />
    <link href="{{ asset('assets/css/meeting-style.css') }}" rel="stylesheet" />
{% endblock %}

{% set meetYes   = meeting.numberOfYes()   %}
{% set meetNo    = meeting.numberOfNo()    %}
{% set meetMaybe = meeting.numberOfMaybe() %}
{% set meetUnknk = meeting.numberOfUnknown() %}
{% set agenda    = meeting.getCurrentAgenda() %}

{% block content %}
    <div class="col-xs-12 col-sm-4">
        <h3>Meeting's informations : </h3>
        <ul class="list-unstyled list-group" >
            <li title="chairman" class="list-group-item" >
                <span class="fa fa-magic" ></span>
                {{ meeting.chairman.username }}
            </li>
            <li title="secretary" class="list-group-item" >
                <span class="fa fa-pencil"></span>
                {{ meeting.secretary.username }}
            </li>
            <li title="date"  class="list-group-item" >
                <span class="fa fa-calendar-check-o"></span>
                {{ meeting.date|date('d/m/Y H:i') }}
            </li>
            <li title="duration" class="list-group-item" >
                <span class="fa fa-clock-o"></span>
                {{ meeting.duration|date('H:i') }}
            </li>
            <li title="room" class="list-group-item" >
                <span class="fa fa-map-marker"></span>
                {{ meeting.room }}
            </li>
        </ul>

        <h3>Statistics for the meeting</h3>
        <div class="ct-chart" ></div>
        {% include 'meeting/presence-table.html.twig' %}
        <a class="btn btn-default"
           href="{{ path('seeproject', { 'projId' : meeting.project.id}) }}">
            See the project
        </a> 
    </div>
    <div class="col-xs-12 col-sm-8">
        <h3>Current agenda</h3>
        {% include 'meeting/item-list.html.twig' %}
        {% if canEdit %}
            <a href="{{ path('add-agenda-item',{'agendaId' : agenda.id }) }}" 
               class="btn btn-default"
               ng-click="ctrl.newItem($event)"
               id="add-meeting" >
                <i class="glyphicon glyphicon-plus" ></i>
                Add item
            </a>
            <a href="{{ path('save-agenda-items',{'agendaId' :agenda.id }) }}"
               class="btn btn-success"
               ng-click="ctrl.saveItems($event)">
                Save order
            </a>
        {% else %} 
            <a href='{{ path('send-request', { 'agendaId' : agenda.id }) }}' 
               class="btn btn-default"
               ng-click="ctrl.sendRequest($event)" >
                <i class="glyphicon glyphicon-send" > </i>
                Send a request to the chairman
            </a>
        {% endif %}
        {% include 'meeting/request-list.html.twig' %}
        <span hidden="" 
              id="agenda-json" 
              data-href="{{ path('get-agenda-json', { 'agendaId' : agenda.id }) }}" />
    </div>
    <script>
$(document).ready(function () {
    var data = {
        labels: ['Yes ({{ meetYes }})', 'Maybe ({{ meetMaybe }})',
            'No ({{ meetNo }})', 'Not answered ({{ meetUnknk }})'],
        series: [
        {{ meetYes }},
        {{ meetMaybe }},
        {{ meetNo }},
        {{ meetUnknk }}
                    ]
                };
                var options = {
                    'height': 300,
                    'ignoreEmptyValues': true,
                    'classNames': {
                        'label': 'custom-label'
                    }
                };
                new Chartist.Pie('.ct-chart', data, options);
            });
    </script>
    {% include 'modal.html.twig' %}
{% endblock %}