{# twig #}

{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/chartist/dist/chartist.min.js') }}" ></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/vendor/chartist/dist/chartist.min.css') }}" rel="stylesheet"  />
    <link href="{{ asset('assets/css/meeting-style.css') }}" rel="stylesheet" />
{% endblock %}

{% set meetYes   = meeting.numberOfYes()   %}
{% set meetNo    = meeting.numberOfNo()    %}
{% set meetMaybe = meeting.numberOfMaybe() %}
{% set meetUnknk = meeting.numberOfUnknown() %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% include 'toolbar.html.twig' %}
    {% endif %}
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group" >
            {% for ans in meeting.answers %}
                <li class="list-group-item" >
                    <strong>{{ ans.user.username }}</strong>:
                    {{ ans.answerString() }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
        <h3>Statistics for the meeting</h3>
        <div class="ct-chart" ></div>
    </div>
    <script>
        $(document).ready(function () {
            var data = {
                labels: ['Yes ({{ meetYes }})', 'Maybe ({{ meetMaybe }})',
                    'No ({{ meetNo }})', 'Not answered ({{ meetUnknk }})'],
                series: [
        {{ meetYes }},
        {{ meetMaybe }},
        {{ meetNo }},
        {{ meetUnknk }}
                    ]
                };
                var options = {
                    'height': 300,
                    'ignoreEmptyValues': true,
                    'classNames': {
                        'label': 'custom-label'
                    }
                };
                new Chartist.Pie('.ct-chart', data, options);
            });
    </script>{% endblock %}