{# twig #}

{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/chartist/dist/chartist.min.js') }}" ></script>
    <script src='{{ asset('assets/js/editMeeting.js') }}'></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/lobby_admin.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendor/chartist/dist/chartist.min.css') }}" rel="stylesheet"  />
    <link href="{{ asset('assets/css/meeting-style.css') }}" rel="stylesheet" />
{% endblock %}

{% set meetYes   = meeting.numberOfYes()   %}
{% set meetNo    = meeting.numberOfNo()    %}
{% set meetMaybe = meeting.numberOfMaybe() %}
{% set meetUnknk = meeting.numberOfUnknown() %}
{% set agenda    = meeting.getCurrentAgenda() %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% include 'toolbar.html.twig' %}
    {% endif %}
    <div class="col-xs-12 col-sm-6">
        <h3>Current agenda</h3>
        {% include 'meeting/item-list.html.twig' %}
        {% if canEdit %}
            <a href="{{ path('add-agenda-item',{'agendaId' : agenda.id }) }}" 
               class="btn btn-default"
               ng-click="ctrl.newItem($event)"
               id="add-meeting" >
                <i class="glyphicon glyphicon-plus" ></i>
                Add item
            </a>
            <a href="{{ path('save-agenda-items',{'agendaId' :agenda.id }) }}"
               class="btn btn-success"
               ng-click="ctrl.saveItems($event)">
                Save changes
            </a>
        {% else %} 
            <a href='{{ path('send-request', { 'agendaId' : agenda.id }) }}' 
               class="btn btn-default"
               ng-click="ctrl.sendRequest($event)" >
                <i class="glyphicon glyphicon-send" > </i>
                Send a request to the chairman
            </a>
        {% endif %}
        <h3>Requests :</h3>
        {% include 'meeting/request-list.html.twig' %}
        <span hidden="" 
              id="agenda-json" 
              data-href="{{ path('get-agenda-json', { 'agendaId' : agenda.id }) }}" />
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
        <h3>Meeting's informations : </h3>
        <p>
            <strong>Chairman :</strong> {{ meeting.chairman.username }}
            -
            <strong>Secretary :</strong> {{ meeting.secretary.username }}
        </p>
        <p>
            <strong>Date : </strong> {{ meeting.date|date('d/m/Y H:i') }}
            -
            <strong>Duration :</strong> {{ meeting.duration|date('H:i') }}
        </p>
        <p>
            <strong>Room : </strong> {{ meeting.room }}
        </p>

        <h3>Statistics for the meeting</h3>
        <div class="ct-chart" ></div>
        {% include 'meeting/presence-table.html.twig' %}
    </div>
    <script>
$(document).ready(function () {
    var data = {
        labels: ['Yes ({{ meetYes }})', 'Maybe ({{ meetMaybe }})',
            'No ({{ meetNo }})', 'Not answered ({{ meetUnknk }})'],
        series: [
        {{ meetYes }},
        {{ meetMaybe }},
        {{ meetNo }},
        {{ meetUnknk }}
                    ]
                };
                var options = {
                    'height': 300,
                    'ignoreEmptyValues': true,
                    'classNames': {
                        'label': 'custom-label'
                    }
                };
                new Chartist.Pie('.ct-chart', data, options);
            });
    </script>
    <footer>
        <a href="{{ path('seeproject', { 'projId' : meeting.project.id}) }}">
            Back to the project
        </a> 
    </footer>

    {% include 'modal.html.twig' %}
{% endblock %}