<div class="panel-group" id="requestsAccordion" role="tablist">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="meetingsPanel">
            <h4 class="panel-title">
                <a role="button" 
                   data-toggle="collapse" 
                   data-parent="#requestsAccordion" 
                   href="#collapseAccoridion" 
                   aria-controls="requestsPanel">
                    <ng-pluralize count="ctrl.requests.length"
                                  when="{'0':'No requests',
                                  '1':'One request',
                                  'other':'{} requests'}">
                    </ng-pluralize>
                </a>
            </h4>
        </div>
        <div id="collapseAccoridion" 
             class="panel-collapse collapse" 
             role="tabpanel" 
             aria-labelledby="requestsPanel">
            {% set req = 'AppBundle\\Entity\\UserRequest::STATE_' %}
            <ul class="list-group" id="list-meetings" >
                <li ng-repeat="request in ctrl.requests" 
                    class="list-group-item"
                    ng-class="{ 
            'list-group-item-danger' : request.state == {{ constant(req~'PENDING') }},
            'list-group-item-success': request.state == {{ constant(req~'AGREED') }},
            'list-group-item-warning': request.state == {{ constant(req~'NOTED_NO_CHANGE') }},
            'list-group-item-info'   : request.state == {{ constant(req~'NOTED_ON_AGENDA') }}
        }" 
                    ng-attr-id="// item.id //" >
                    Proposed by // request.sender.name //   the // request.date | date : 'dd/MM/yyyy' //
                    {% if canEdit %}
                        <span class="pull-right hidden-badge-item" ng-if="ctrl.items.length > 3" >
                            <a href="#" 
                               ng-click='ctrl.updateRequest($event,request.id)'
                               class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-refresh"></i>
                                Update
                            </a>
                        </span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

<ul class="list-group hidden-badge-list" >
</ul>
<span data-href="{{ path('update-request',{ 'requestId' : '__name__' }) }}" 
      id="path-update-request" />